<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href='../public/fonts/KGAlreadyHome' rel='stylesheet'/>
    <link rel="stylesheet" href="stylesheets/generate.css">

  </head>

  <body>

    <header>

      <a href='/'><h1>NEWSWORTHY</h1></a>

      <ul id='list'>
        <li><a href="#" class='source' id='source0'></a></li>
        <li><a href="#" class='source' id='source1'></br><img class='icon'></a></li>
        <li><a href="#" class='source' id='source2'></br><img class='icon'></a></li>
        <li><a href="#" class='source' id='source3'></br><img class='icon'></a></li>
        <li><a href="#" class='source' id='source4'></br><img class='icon'></a></li>
      </ul>

    </header>

    <div class = 'container' id='iconContainer'></div>

    <div class="container" id='mainContainer'>
      <div class = 'row' id='newsRow1'>
        <div class='col-12 col-lg effect1'>
          <a id='a0'>
            <h3 id='title0'></h3>
          </a>
          <img id='newsImage'></img>
        </div>
        <div class='col-12 col-lg effect1'>
          <a id='a1'>
            <h3 id='title1'></h3>
          </a>
          <p id='text1'></p>
        </div>
        <div class='col-12 col-lg effect1'>
          <a id='a2'>
            <h3 id='title2'></h3>
          </a>
          <p id='text2'></p>
        </div>
      </div>
      <div class = 'row' id='newsRow2'>
        <div class='col-12 col-lg effect1'>
          <a id='a3'>
            <h3 id='title3'></h3>
          </a>
          <p id='text3'></p>
        </div>
        <div class='col-12 col-lg effect1'>
          <a id='a4'>
            <h3 id='title4'></h3>
          </a>
          <p id='text4'></p>
        </div>
        <div class='col-12 col-lg effect1'>
          <a id='a5'>
            <h3 id='title5'></h3>
          </a>
          <p id='text5'></p>
        </div>
      </div>
    </div>


    <footer></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="application/javascript" src="../javascripts/generate.js"></script>
  </body>


</html>
