<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href='../public/fonts/KGAlreadyHome' rel='stylesheet'/>
    <link rel="stylesheet" href="stylesheets/style.css">

  </head>

  <body>

    <header>

      <h1>NEWSWORTHY</h1>

      <ul>
        <li><a href="#" class='source' data-source='country=us'>Top Stories</a></li>
        <li><a href="#" class='source' data-source ='sources=bbc-news'>BBC</br><img class='icon' src='../images/bbcnews.jpg'></a></li>
        <li><a href="#" class='source' data-source="sources=the-guardian-uk">The Guardian</br><img class='icon' src='../images/guardian.png'></a></li>
        <li><a href="#" class='source' data-source="sources=independent">The Independent</br><img class='icon' src='../images/indi.png'></a></li>
        <li><a href="#" class='source' data-source="sources=financial-times">Financial Times</br><img class='icon' src='../images/ft.jpg'></a></li>
        <li><a href="/generate" id='button'>Generate Your Own Feed!</a></li>
      </ul>

    </header>

    <div class="container" id='content'>
      <div class = 'row' id='newsRow1'>
        <div class='col-12 col-lg effect1'>
          <a id='a0'>
            <h3 id='title0'></h3>
          </a>
          <img id='newsImage'></img>
        </div>
        <div class='col-12 col-lg effect1'>
          <a id='a1'>
            <h3 id='title1'></h3>
          </a>
          <p id='text1'></p>
        </div>
        <div class='col-12 col-lg effect1'>
          <a id='a2'>
            <h3 id='title2'></h3>
          </a>
          <p id='text2'></p>
        </div>
      </div>
      <div class = 'row' id='newsRow2'>
        <div class='col-12 col-lg effect1'>
          <a id='a3'>
            <h3 id='title3'></h3>
          </a>
          <p id='text3'></p>
        </div>
        <div class='col-12 col-lg effect1'>
          <a id='a4'>
            <h3 id='title4'></h3>
          </a>
          <p id='text4'></p>
        </div>
        <div class='col-12 col-lg effect1'>
          <a id='a5'>
            <h3 id='title5'></h3>
          </a>
          <p id='text5'></p>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="application/javascript" src="../javascripts/main.js"></script>
  </body>


</html>
